.card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.Loading__indicator {
  border: 1px solid blue;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.podcast__img {
  border-radius: 50%;
}

.itemsFiltered {
  font-size: 15px;
  margin-top: 4px;
  margin-right: 9px;
}

.podcast-list {
  margin-top: 20px;
}

.Loading__indicator {
  margin-top: 15px;
  border: 1px solid DeepSkyBlue;
  width: 20px;
  height: 20px;
  background-color: DeepSkyBlue;
  border-radius: 50%;
  box-shadow: 0px 0px 20px DeepSkyBlue;
}

.card-episodes {
  margin-bottom: 20px;
}

audio {
  width: 100%;
}

.card-img-top {
  margin-bottom: 20px;
}

.card-title {
  font-weight: bold;
}

.chapter img {
  width: 100%;
}
