.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loading__indicator {
  border: 1px solid blue;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.podcast {
  border: 1px solid grey;
}

.podcast__img {
  border-radius: 50%;
}
